<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>projectTeam4</display-name>
<!--   주소가 입력되어 있지 않으면 찾는파일 (welcome file) -->
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
	
	<!--  가상주소(*.sp) 들어오면 -> 주소매핑 처리하는 파일로 연결할거임 => 처리담당자(서블릿)로 연결  -->
	<!-- SpaceFrontController라는 애가 처리하도록 맡김 !  -->

	<servlet>
		<servlet-name>SpaceFrontController</servlet-name>
		<servlet-class>com.space4team.space.action.SpaceFrontController</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>SpaceFrontController</servlet-name>
		<url-pattern>*.sp</url-pattern>
	</servlet-mapping>
	
	<!--  가상주소(*.me) 들어오면 -> 주소매핑 처리하는 파일로 연결할거임 => 처리담당자(서블릿)로 연결  -->
	<!-- MemberFrontController라는 애가 처리하도록 맡김 !  -->

	<servlet>
		<servlet-name>MemberFrontController</servlet-name>
		<servlet-class>com.space4team.member.action.MemberFrontController</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>MemberFrontController</servlet-name>
		<url-pattern>*.me</url-pattern>
	</servlet-mapping>
	
	<!--  가상주소(*.no) 들어오면 -> 주소매핑 처리하는 파일로 연결할거임 => 처리담당자(서블릿)로 연결  -->
	<!-- NoticeFrontController라는 애가 처리하도록 맡김 !  -->

	<servlet>
		<servlet-name>NoticeFrontController</servlet-name>
		<servlet-class>com.space4team.notice.action.NoticeFrontController</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>NoticeFrontController</servlet-name>
		<url-pattern>*.no</url-pattern>
	</servlet-mapping>


</web-app>






